<div ng-controller="HomeController">
	<div class="row" id="marginHome">
		<div class="spacer"></div>
		<div class="col-xs-2 col-md-2 col-lg-3"></div>
		<div class="col-xs-8 col-md-8 col-lg-6 xlMediaPadding">
			<div class="row blueFont subHeaderTitle">
				<strong>Pokémon Go Resources</strong>
			</div>
			<div class="descriptionSection">Be secure in your knowledge of Pokémon Go! Find out exact details of each Pokémon, including max CP, individual values and movesets. Use the provided tools to calculate your favorite pokémon's IV, candy requirements for mass evolutions and estimate when you'll reach level 40.</div>
			<div class="col-xs-12 col-sm-6" id="roundedCornerOne">
				<span class="orangeFont homeSectionHeader">Pokémon Info</span>
				<table>
					<tr class="homeRowHeight">
						<td class="homeSectionList"><a ui-sref="app.pokemonlist">Pokémon</a></td>
						<td class="hidden-xs visible-sm visible-md visible-lg" style="vertical-align: middle"><button popover-placement="left" uib-popover="Browse details of all Gen 1 and 2 Pokémon including legacy and current movesets, individual Pokémon stats and more!" type="button" class="btn btnDetails">Details</button></td>
					</tr>
					<tr class="homeRowHeight">
						<td class="homeSectionList"><a ui-sref="app">Movesets</a></td>
						<td class="hidden-xs visible-sm visible-md visible-lg"><button popover-placement="left" uib-popover="TBD!" type="button" class="btn btnDetails">Details</button></td>
					</tr>
					<tr class="homeRowHeight">
						<td class="homeSectionList"><a ui-sref="app.types">Types</a></td>
						<td class="hidden-xs visible-sm visible-md visible-lg"><button popover-placement="left" uib-popover="TBD!" type="button" class="btn btnDetails">Details</button></td>
					</tr>
				</table>						
			</div>
			<div class="col-xs-12 col-sm-6" id="roundedCornerTwo">
				<span class="blueFont homeSectionHeader">Tools</span>
				<table>
					<tr class="homeRowHeight">
						<td class="homeSectionList"><a ui-sref="app.calc">Level 40 Calculator</a></td>
						<td class="hidden-xs visible-sm visible-md visible-lg"><button popover-placement="left" uib-popover="Calculate how long it will take you to get to level 40" type="button" class="btn btnDetails">Details</button></td>
					</tr>
					<tr class="homeRowHeight">
						<td class="homeSectionList"><a ui-sref="app.evocalc">Mass Evolve Calculator</a></td>
						<td class="hidden-xs visible-sm visible-md visible-lg"><button popover-placement="left" uib-popover="Optimize your mass evolutions by calculating how many evolves you can do with your candy for each Pokémon" type="button" class="btn btnDetails">Details</button></td>
					</tr>
					<tr class="homeRowHeight">
						<td class="homeSectionList"><a ui-sref="app.evocalc">IV Calculator</a></td>
						<td class="hidden-xs visible-sm visible-md visible-lg"><button popover-placement="left" uib-popover="TBD!" type="button" class="btn btnDetails">Details</button></td>
					</tr>
				</table>
			</div>
			<div class="col-xs-12 col-sm-6" id="roundedCornerThree">
				<div class="blueFont homeSectionHeader">Stats</div>
				<table>
					<tr class="homeRowHeight">
						<td class="homeSectionList"><a ui-sref="app.pokemonlist">TBD</a></td>
						<td class="hidden-xs visible-sm visible-md visible-lg"><button popover-placement="left" uib-popover="TBD!" type="button" class="btn btnDetails">Details</button></td>
					</tr>
				</table>						
			</div>
			<div class="col-xs-12 col-sm-6" id="roundedCornerFour">
				<div class="orangeFont homeSectionHeader">About</div>
				<table>
					<tr class="homeRowHeight">
						<td class="homeSectionList"><a ui-sref="app.pokemonlist">TBD</a></td>
						<td class="hidden-xs visible-sm visible-md visible-lg"><button popover-placement="left" uib-popover="TBD!" type="button" class="btn btnDetails">Details</button></td>
					</tr>
				</table>						
			</div>
		</div>
		<div class="col-xs-2 col-md-2 col-lg-3"></div>
	</div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-100461759-1', 'auto');
  ga('send', 'pageview');

</script>