	<nav class="navbar navbar-inverse navbar-fixed-top" id="homeheader" role="navigation">
		<div id="super-header">
		</div>
		<div class="container" style="padding-left: 5%">
			<div class="navbar-header">
				<a class="navbar-brand homeHeaderSize" id="nav-logo nav-logo-home " ui-sref="app"><strong class="orangeFont" id="homeHeader">thePokémonVault</strong><br/>
					<span id="homeTagline">Secure the answers to all your <strong>Pokémon Go</strong> questions!</span></a>
			</div>
		</div>
	</nav>
