	<div ng-controller="PokemonListController">
		<div class="row">
			<div class="spacer" style="margin-bottom: 15px"></div>
			<div class="col-xs-1 col-sm-2"></div>
			<div class="col-xs-10 col-sm-8" style="padding: 0px 0px 0px 0px">
				<div class="col-xs-12" style="padding: 0px 0px 0px 0px;">
					<div style="width: 90%; margin: auto">
						<h1 class="orangeFont" style="text-align: center">List Of All Active Pokémon</h1>
						<div class="col-xs-8" id="pokemonFilterBox">
							<div class="col-md-12 hidden-md-down visible-md visible-lg">
							<button type="button" class="button btn" ng-click="isCollapsed = !isCollapsed">Settings</button>
							<div uib-collapse="!isCollapsed">	
								<div class="well well-lg" style="border-width: 2px; border-color: black">
									<table style="margin: auto; position: relative">
										<tr>
											<th class="borderLeft borderRight" style="width: 33%"><h5 class="orangeFont">Show</h5></th>
											<th class="borderRight" style="width: 33%"><h5 class="orangeFont">Sort By</h5></th>
											<th class="borderRight" style="width: 33%"><h5 class="orangeFont">XFilter By</h5></th>
										</tr>
										<tr>
											<td class="borderLeft borderRight"><input class="glowing-border" type="checkbox" ng-click="includeGen('1')"/> Gen 1<br/></td>
											<td class="borderRight"><input name="sortBy" class="glowing-border" ng-model="sortPokeBy" value="'maxCP'" type="radio" ng-click="changeSortReverse()"/> Highest CP</td>
											<td class="borderRight"><input name="filterBy" class="glowing-border" type="radio"/> <input class="glowing-border" type="text" placeholder="XType" style="width: 75%"/></td>
										</tr>
										<tr>
											<td class="borderLeft borderRight"><input class="glowing-border" type="checkbox" ng-click="includeGen('2')"/> Gen 2</td>
											<td class="borderRight"><input name="sortBy" class="glowing-border" ng-model="sortPokeBy" value="'id'" type="radio" ng-click="changeSortReverse()" checked/> Pokédex ID</td>
											<td class="borderRight"><input name="filterBy" class="glowing-border" type="radio" checked/> XNone</td>
										</tr>
									</table>
								</div>
							</div>
							</div>

						</div>
						<div class="col-xs-4"></div>
							<div class="col-xs-12 visible-xs visible-sm hidden-md hidden-lg">
								<div class="col-xs-4">
									Show: <br/>
									<input class="glowing-border" type="checkbox" ng-click="includeGen('1')"/> Gen 1<br/>
									<input class="glowing-border" type="checkbox" ng-click="includeGen('2')"/> Gen 2<br/>
								</div>
								<div class="col-xs-4">
									Sort by: <br/>
									<input name="sortByMobile" class="glowing-border" type="radio" ng-model="sortPokeBy" value="'maxCP'" ng-click="changeSortReverse()"/> Highest CP<br/>
									<input name="sortByMobile" class="glowing-border" type="radio" ng-model="sortPokeBy" value="'id'" ng-click="changeSortReverse()" checked/> Pokédex ID<br/>
								</div>
								<div class="col-xs-4">
									XFilter by: <br/>
									<input name="filterByMobile" class="glowing-border" type="radio"/> <input class="glowing-border" type="text" placeholder="XType" style="width: 75%"/><br/>
									<input name="filterByMobile" class="glowing-border" type="radio" checked/> XNone<br/>
								</div>
							</div>
						<div class="col-xs-12 section">
							<div class="col-xs-6 col-md-4" ng-repeat="pokemon in full_pokemon_list | filter:genSwitch | orderBy: sortPokeBy:sortReverse2" style="background-color: white; color: black" ng-class="{red: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
								<div class="col-xs-12 col-sm-6" style="padding: 20px 0px 20px 0px; text-align: center" ng-click="open(pokemon)">
									<span class="orangeFont"><strong>{{pokemon.name}} (#{{pokemon.id}})</strong></span><br/>
									Max CP: {{pokemon.maxCP}}<br/>
									Types: <img class="hoverImage" uib-popover="{{pokemon.type1}}" popover-class="popoverMedals" popover-trigger="'mouseenter'" popover-placement="bottom" src="{{pokemon.type1Image}}" style="max-height: 15px; max-width: 15px"/> <img class="hoverImage" uib-popover="{{pokemon.type2}}" popover-class="popoverMedals" popover-trigger="'mouseenter'" popover-placement="bottom" src="{{pokemon.type2Image}}" style="max-height: 15px; max-width: 15px"/>
								</div>
								<div class="col-md-6 hidden-xs visible-sm visible-md visible-lg" style="padding: 0px 0px 0px 0px" ng-click="open(pokemon)"">
				   				<div class="frame">
				   					<img src="{{pokemon.thumbnail}}" id="pokemonThumbnail"/>
				   					<!--MODAL WINDOW--> 
		                <script type="text/ng-template" id="myModalContent.html">
		                  <div class="modal-header">
		                    <div class="col-xs-3">
		                       <img src="{{pokemon.thumbnail}}" id="pokemonThumbnailModal" style="float: right"/>
		                    </div>
		                      <div class="col-xs-9">
		                        <h3 class="orangeFont" style="margin: 5px 0px 10px 0px"><strong>{{pokemon.name}} (#{{pokemon.id}})</strong></h3>
		                        {{pokemon.description}}
		                      </div>
		                    </div>
		                    <div class="modal-body">
													<table style="margin: auto; position: relative">
														<tr>
															<th class="borderLeft borderRight" style="width: 33%; text-align: center"><span class="orangeFont" style="font-size: 1.1em">Max CP</span></th>
															<th colspan="2" class="borderRight" style="width: 33%; text-align: center"><span class="orangeFont" style="font-size: 1.1em">Stats</span></th>
															<th class="borderRight" style="width: 33%; text-align: center"><span class="orangeFont" style="font-size: 1.1em">Specials</h5></th>
														</tr>
														<tr>
															<td rowspan="3" class="borderLeft borderRight blueFont" style="font-size: 2em; text-align: center" ><strong>{{pokemon.maxCP}}</strong></td>
															<td>Attack:</td>
															<td class="borderRight"><strong class="blueFont" style="text-align: center">{{pokemon.attack}}</strong></td>
															<td class="borderRight"><span ng-show="{{pokemon.regional}}">Regional Exclusive</span></td>
														</tr>
														<tr>
															<td>Defense:</td>
															<td class="borderRight"><strong class="blueFont" style="text-align: center">{{pokemon.defense}}</strong></td>
															<td class="borderRight"></td>
														</tr>
														<tr>
															<td>Stamina:</td>
															<td class="borderRight"><strong class="blueFont" style="text-align: center">{{pokemon.stamina}}</strong></td>
															<td class="borderRight"></td>
														</tr>
													</table>
													<div class="col-xs-2"></div>
													<div class="col-xs-8 borderTop" style="height: 15px"></div>
													<div class="col-xs-2"></div>
													<table style="margin:auto; position: relative">
														<tr>
															<th class="borderRight borderLeft" colspan="2" style="text-align: center"><span class="orangeFont" style="font-size: 1.1em">Quick Moves</span></th>
															<th class="borderRight borderLeft" colspan="2" style="text-align: center"><span class="orangeFont" style="font-size: 1.1em">Charge Moves</span></th>
														</tr>
														<tr ng-repeat="move in pokemon.moves">
															<td class="borderLeft">
																<span ng-show="!{{move.quickLegacy}}">{{move.quickName}}</span>
																<span ng-show="{{move.quickLegacy}}" style="text-decoration: line-through">{{move.quickName}}</span>
															</td>
															<td class="borderRight">
																<img src="{{move.quickImage}}"/>
															</td>
															<td class="borderLeft">
																<span ng-show="!{{move.chargeLegacy}}">{{move.chargeName}}</span>
																<span ng-show="{{move.chargeLegacy}}" style="text-decoration: line-through">{{move.chargeName}}</span>
															</td>
															<td class="borderRight">
																<img src="{{move.chargeImage}}"/>
															</td>
														</tr>
													</table>
												</div>
		                    <div class="modal-footer">
		                    </div>
		                </script>
									</div>
				   			</div>
				   		</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-1 col-sm-2"></div>
			</div>
	</div>
